%title "New Project"

= form_tag @project do
	%h1 Reorder your spreadsheet columns
	%ul{id: 'key_column', :"data-update-url" => sort_project_steps_url }
		- @project.key_rows.each do |row|
			- @row1 = row.key_columns
			- @sorted_row = @row1.sort_by {|row| row.order}
			- @sorted_row.each do |r|
				= content_tag_for :li, r do
					= r.name
	%p= submit_tag "Continue", project_id: @project.id
	%p= submit_tag "Back", :name => "back_button"

= link_to "Back to List", new_project_path 


