= form_for @project do |f|
	#header
	%h2 New combination
	%h3 Project name
	= f.text_field :name

	%h3 Select the spreadsheets you'd like to combine:
	
	#spreadsheets
		%table
			- current_user.spreadsheetdocs.each do |spreadsheet|
				%tr
					%td
						= check_box_tag 'spreadsheet_ids[]', spreadsheet.id, @project.spreadsheetdocs.ids.include?(spreadsheet.id)
					%td
						= label_tag spreadsheet.name
	#skiprows
		= check_box_tag :skip_multiple, @project.skip_multiple, @project.skip_multiple
		= label_tag "Skip header rows after the first?"			
	%p= submit_tag "Continue"
	%p= submit_tag "Back", :name => "back_button"

= link_to "Back to List", new_project_path 