.container
	%h1= @project.name
	.spreadsheet-holder.well
		.row
			.col-md-12
				- @project.key_rows.each do |key_row|
					%h4= "From #{key_row.spreadsheetdoc.name}:"
					%table.table-responsive.table.table-bordered
						%tr
							- sorted = key_row.key_columns.sort_by {|row| row.order}
							- sorted.each do |kc|
								%td= kc.name
		.row
			.col-md-4
				%h4.text-left= link_to "Redorder Project Columns", reorder_projects_path(project_id: @project.id)
			.col-md-2
				%h4.text-left= link_to "Edit Project", edit_project_path(@project.id)
			.col-md-6
				%h4.text-left= link_to 'Delete Project', project_path(@project.id), method: :delete, data: { confirm: 'Are you sure?' }

	%h4= link_to "Download combined spreadsheet", @project.combinedfile.url, class: "btn btn-success btn-lg"
